/* Empty. Add your own CSS if you like */
#countdown2 {
	color: #1B232F;
	font-family: Verdana, Arial, sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
	
}select {
	border: 1px solid #111;
	background: transparent;
	width: 100px;
	padding: 3px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align:center;
}